<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include("partials/cdns.ejs") %>
        <%- include("partials/style.ejs") %>
        <title>Game Of NIM</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container  d-block text-center">
                <a class="navbar-brand" href="/">Game of NIM</a>
            </div>
        </nav>
        <div class="text-center">
            <div class="rules container">
                <hr>
                <h2>RULES:</h2>
                <h5 class="text-left">1)In each turn, a player may remove any number of stones (at least one) from any one pile, and it is fine to take a whole pile</h5>
                <h5 class="text-left">2)The player removing the last stone left wins.</h5>
                <hr>
                <h2>How to play:</h2>
                <h5 class="text-left">A)Just click on the pile of stones to remove a stone from it(You may click multiple times in one turn)</h5>
                <h5 class="text-left">B)Don't forget to press the "Done" button after you completed your turn</h5>
                <hr>
                <h5 class="text-left">You may see the optimal solutions if you find it difficult to win</h5>
                <hr>
            </div>
        </div>
        <div class="container bg-info p-3 text-center">
            <div class="row justify-content-around align-items-center d-flex">
                <% for(var i=0; i<len; i++){%>
                    <div class="col-6 d-flex">
                        <div class="mb-3 row w-100 mx-auto justify-content-around d-flex">
                            <div class="box w-100">
                                <h1 class="w-100"><%= value[i]%></h1>
                                <% for(var j=0; j<value[i]; j++) {%>
                                    <img class="stones" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsfvEXPd5ZHTRLwVbtw2MZ9T3Tzp37-Gy8i2dH8ZYqIRRAGcOD&usqp=CAU">
                                <%}%>
                            </div>
                            <h3>Pile-<%= i+1 %></h3>
                        </div>
                    </div>
                <%}%>
            </div>
            <div id="gameOver" class="text-center bg-dark text-white p-3 mb-2">
                <h1 id="player">Your turn</h1>
                <a id="Submit" class="btn btn-primary w-50 text-white">Done</a>
            </div>
            <button id="optimalButton" class="btn btn-success">Check Optimal Solutions for remaining steps?</button>
            <div id="optimalSol" class="d-none"></div>
        </div>
        <%- include("partials/script.ejs") %>
    </body>
</html>